
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Apercu Mono', sans-serif;  
}

:root {
    --red: #FAD280;
    --white: rgb(255, 255, 255);
    --grey: rgb(125, 125, 125);
    --black: #050505;
}

/*========== HEADER ==========*/

header{
    background-color:var(--black);  
}

.navbar{
    position: relative;
    z-index: 2;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
}

.navbar ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    left: 0;
}

.nav-logo{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
}

.nav-link{
    transform: 0.7s ease;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

/*========== PRESENTATION ==========*/

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    color: var(--black);
    background-image:url('/Users/damien/Desktop/PortFolio/public/assets/img/A.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation h1{
    font-size: 35px;
}

.presentation p {
    color: var(--black);
    font-size: 25px;
}

.next-presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 100vh;
    font-size: 25px;
    background-color: var(--black);
}

.next-presentation .A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 100%;
}

.next-presentation .B{
    width: 50%;
    filter: opacity(40%);
    text-align: center;
}

.A p{
    margin-top: 5%;
    text-align: end;
}

.A h3{
    text-align: center;
    color: var(--white);
    padding: 1rem;
    position: relative;
    background-color: var(--black);
}

.A h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: var(--grey);
    border-radius: 2px;
    background-color: var(--red);
}

/*========== PROJETS ==========*/

.projet-title{
    text-align: center;
    color: var(--white);
    padding: 1rem;
    position: relative;
}

.projet-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--red);
    transition: .5s;
}

.projet-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius:0 2px 2px 0 ;
    background-color: var(--red);
    transition: .5s;
}

.container-projects{
    display: grid;
    grid-template-columns:repeat(2, 10fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    background-color: var(--black);
}

.projets-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.projets-box:hover > .projet-title::after, .projets-box:hover > .projet-title:before{
    width: 30px;
}

.projets-box:hover .img-projet{
    transform: translateY(-10px);
}

.img-projet{
    margin-bottom: 5%;
    width: 100%;
}

.projet-icon{
    width: 20rem;
    z-index: 2;
}

/*========== SKILLS ==========*/

.inner{
    height: 100vh;
    background-color: var(--black);
    padding-top: 10%;
}

.header{
    text-align: center;
    color: var(--white);
    padding: 1rem;
    position: relative;
    background-color: var(--black);
}

.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: var(--grey);
    border-radius: 2px;
    background-color: var(--red);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--red);
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius:0 2px 2px 0 ;
    background-color: var(--red);
    transition: .5s;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: var(--white);
    margin-top: 0.5rem;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}

@media screen and (max-width:990px) { 
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }

    .container-projects{
        grid-template-columns: 700px;
        padding: 2rem ;
    }

}

@media screen and (max-width:650px) { 
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 1fr;
    }
}

@media screen and (max-width:768px) { 
    .hamburger{
        display: block;
        z-index: 4;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        justify-content: space-around;
        z-index: 4;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: var(--black);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 10px;
    }

    .nav-menu.active{
        top: 0;
        left: 0;
    }

} 

/*========== FOOTER ==========*/

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 200px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: var(--black);
    padding-top: 10%;
}

footer h4{
display: flex;
justify-content: center;
align-items: center;
background-color: blur var(--black);
}

.cursor{
    position: fixed;
    z-index: 1000;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    background-color: blur var(--black);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition:  .1s;
}

.cursor2{
    position: fixed;
    z-index: 1000;
    width: 8px;
    height: 8px;
    background-color:  rgba(255, 255, 255, 0.993);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

body:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
}

body:hover ~ .cursor2{
    opacity: 0; 
}